@import url('https://fonts.cdnfonts.com/css/helveticafortarget-bold');

.btn {
    padding: 12px 24px;
    background: rgb(0, 90, 226);;
    color: #fff;
    font-family: 'HelveticaforTarget', sans-serif;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    line-height: 12px;
    
}