/* *{
    color: black;
} */

.mainContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.midSection {
    display: flex;
    gap: 40px;
}

.midSection > p {
    font-family: 'HelveticaforTarget', sans-serif;
    font-weight: bold;
}

.btn {
    display: flex;
}

.urlTextColor {
    color: rgb(0, 90, 226);
}

.featureBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

    > p {
        font-weight: bold;
    }
}