@import url('https://fonts.cdnfonts.com/css/helveticafortarget-bold');

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}

.optimize {
    font-family: 'HelveticaforTarget-Bold', sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;

    >span {
        color: rgb(0, 90, 226);;
    }
}

.lineImage {
    margin: 0px;
    margin-top: -70px;
}

.personalize {
    font-family: 'HelveticaforTarget', sans-serif;
    text-align: center;
    font-size: 18.5px;
    line-height: 28px;
    color: black;
    margin-top: 30px;
    font-weight: bold;
}

.heroBtn {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.vectorSection {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

.vectorImage {
    margin-right: -50px;
}
 
.innerVectorSect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 60px;
    border: solid;
    border-width: 1px;
    border-color: rgb(0, 90, 226);;
    border-radius: 30px;
    margin-left: -75px;
    margin-top: -45px;
    background-color: white;
    height: 120px;

    > p {
        text-align: center;
        font-family: 'HelveticaforTarget', sans-serif;
        font-size: 18.5px;
        color: black;
        font-weight: bold;
    }
}

.heroCenter {
    display: flex;
    margin-top: 80px;
    gap: -100%;
    justify-content: center;
}

.rectangle {
    position: absolute;
}

.ellipses {
    z-index: 5;
    margin-top: 18px;
}