.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 100px 250px;
}

.footerMain {
    display: flex;
    flex-direction: row;
    gap: 50px;
}
  
.leftFooter {
    display: flex;
    flex-direction: column;
    gap: 35px
}
  
.logos  {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 0px 8px;
}
  
.footerRight {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    row-gap: 0px;
    padding: 0px 15px 0px 15px;
}
  
.footerRightChildren {
    font-size: 16px;
    line-height: 26px;
    >h3{
        margin: 0;
        margin-bottom: 10px;
    }

    >p{
        margin: 0;
    }
}
  
.lastLast {

    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items:flex-end;

    >p{
        display: flex;
    }
}
  
.logoStyle {
    width: 24px;
    font-size: 24px;
}



